@import "./variables.css";

/***************************************************
CSS RESET
****************************************************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************************************
GLOBAL STYLES
****************************************************/
body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
}
