@import "./variables.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/***************************************************
CSS RESET
****************************************************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************************************
GLOBAL STYLES
****************************************************/
body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
  width: 90vw;
  margin-inline: auto;
}

li {
  list-style-type: none;
}
